<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<span>subscribe now</span> <!-- USE THE CAPS METHOD IN CSS FOR THIS -->
			</li>
			<li id="search-modal-btn">
				<span>log in</span>
			</li>

			<li id="gear-dropdown-btn">
				<i style="font-size:16px" class="fa">&#xf013;</i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li> 
			
		</ul>
	</nav>
</header>