<!--
CSS 
HTML 
Javascript 
Ruby

Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% 
-->
<!--
<div class="masthead">
    <nav class="language-nav">
        <ul>
            <li id="CSS">
                <p>CSS</p>
            </li>
            <li id="HTML">
                <p>HTML</p>
            </li>
            <li id="Javascript">
                <p>Javascript</p>
            </li>
            <li id="Ruby">
                <p>Ruby</p>
            </li>
        </ul>
    </nav>
    
    <img class="logo" href="app/assets/images/AA_Times_Logo.png">
    

    <nav class="masthead-links">
        <ul>
            <li id="Tuesday, October 18, 2016">
                <p>Tuesday, October 18, 2016</p>
            </li>
            <li id="Today’s Paper">
                <p>Today’s Paper</p>
            </li>
            <li id="Video">
                <p>Video</p>
            </li>
            <li id="77°F">
                <p>77°F</p>
            </li>
            <li id="AAO +100%">
                <p>AAO +100%</p>
            </li>
        </ul>
    </nav>
</div>
-->
<header class="masthead">
    <nav class="language-nav">
		<ul>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</nav>

</header>