.sections-nav {
    display: flex;
   justify-content: center;
   border-bottom: 1px solid #e2e2e2;
}

.sections-nav ul {
    display: flex; 
}

.sections-nav li {
    margin: 0px 5px;
    padding: 5px;
    cursor: pointer;
}

.sections-nav li:not(:last-child):hover {
    background-color: $light-gray;
}
.sections-nav li:last-child {
    font-size: 10px;
    margin-top: 1px;
}
.sections-nav li:last-child:hover {
    text-decoration: underline;

}